<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Usound Radio</title>
    <meta charset="utf-8" />
    <meta name="description" content="Built By Musicians. Driven By Listeners." />
    <!--[if IE]>
        <link rel="icon" type="image/vnd.microsoft.icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <!--<![endif]-->
    <!--[if !IE]>-->
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")">
    <!--<![endif]-->
              @Scripts.Render("~/bundles/jquery")

    
            @Scripts.Render("~/bundles/modernizr")
  
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
      <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=480606998639552";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <header>
       <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
              <img src="~/Content/images/LogoSmall.png" style="width:150px; margin-bottom:-15px; margin-top:-5px" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>

              </li>            
                 <li id="feedbacklink"><a href="#feedback">Feedback</a></li>

                  <li id="contactlink"><a  href="#">Contact</a></li>
             
            </ul>
            <form Action="Account/Login" method="get" class="navbar-form pull-right">
              <input style="height: 30px" class="span2" type="text" placeholder="Email">
              <input style="height: 30px"  class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
                    
               
        </header>
                @RenderBody()
     <div class="container">
     <footer>
         <div style="float:right"><div class="fb-like" data-href="http://facebook.com/usoundradio" data-send="false" data-width="300" data-show-faces="true" data-font="segoe ui"></div></div>
        <p> Usound Radio, LLC © 2012 </p>
      </footer>
         </div>

   



<!-- Contact Modal -->
<div style="display:none" class="modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <p style="text-align:left; float:left">
      
        <strong>Usound Radio, LLC</strong><br />
        910 S. 5th Street W. <br />
        Missoula MT, 59801 USA<br />
        (406)544-3148
    </p>
      <p style="text-align:left; float:left; padding-left:23px">    
        <strong>Logan Head</strong><br />
        CEO/Founder<br />
          <a href="mailto:logan@usoundradio.com">logan@usoundradio.com</a><br />
        (406)544-3148
    </p>
      <p style="text-align:left; float:left; padding-left:23px">     
        <strong>Cody Pedro</strong><br />
        CFO/Founder<br />
     <a href="mailto:cody@usoundradio.com">cody@usoundradio.com</a><br />
        (406)781-3598
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- End Contact Modal -->


<!-- Contact Modal -->
<div style="display:none" class="modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Feedback</h3>
  </div>
  <div class="modal-body">
    <h3>We value your feedback to ensure we build the best music listening site for everyone. Thank you for being apart of the next generation of online music</h3>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- End Contact Modal -->

    @RenderSection("scripts", required: false)


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	      <script src="~/Scripts/bootstrap.min.js"></script>
       
        
       <script>
           $(function () {
               {

                   $("#contactlink").click(function () {
                       $("#contactModal").modal({
                           backdrop: true,
                           keyboard: true
                       });
                   });
                   $("#feedbacklink").click(function () {
                       $("#feedbackModal").modal({
                           backdrop: true,
                           keyboard: true
                       });
                   });

               }
           });
        </script>
  </body>
</html>

    
