@model UsoundRadio.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div style="width: 500px">
    <div style="width: 220px; float: left;">
        <section>
            <h2>Sign into your account.</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </li>
                    </ol>
                    <button value="Log in">Sign In</button>
                </fieldset>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </p>
            }
        </section>
    </div>
    <div style="width: 220px; float: left">
        <section style="float: left" id="socialLoginForm">
            <h2 style="width: 220px">Use another service to log in.</h2>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

